#contactInfoForm{
    margin: auto;
    width: 75%;
    background-color: lightblue;
    border: 2px solid lightsteelblue;
    padding: 2%;
    border-radius: 7px;
    display: flex;
}

.formDetails{
    flex: 1;
    margin-right: 5px;
    border: 2px solid lightgray;
    border-radius: 3px;
}

#errorPlaceholder{
    background-color: antiquewhite;
    visibility: hidden;
    display: none;
}

#contactPlaceholder{
    margin: 0 auto;
    text-align: center;
    
}

#contactsTable{
    margin: 0 auto;
    border-collapse: collapse;
    width: 75%;
    table-layout: fixed;
}

th{
    font-weight: bold;
    background-color: white;
}

th, td{
    border: 2px solid gray;
    text-align: left;
    padding: 1%;
}

#searchArea{
    text-align: center;
    padding: 3%;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

#noResult{
    visibility: hidden;
    display: none;
}